.form_div input{
    width: 400px;
    height: 50px;
    outline: none;
}
.form_div button{
    height: 49px;
}

@media (max-width:610px) {
    .form{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .form_div input{
        width: 300px;
    }
    .form_div button{
        margin-top: 10px;
        border-radius: 20px;
    }
}