.cart_total{
    width: 100%;
}

.cart_total_details p{
    font-size: 15px;
}
.cart_total_details button{
    font-size: 13px;
}

@media (max-width:700px) {
    .cart_total{
        width: 100%;
    }
}