@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Raleway", sans-serif;
}

.product_div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

@media (max-width:1100px) {
    .product_div{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width:950px) {
    .product_div{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:750px) {
    .product_div{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:480px) {
    .product_div{
        grid-template-columns: repeat(1, 1fr);
    }
}