.main_why_div{
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
}
@media (max-width:680px) {
    .main_why_div{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:500px) {
    .main_why_div{
        grid-template-columns: repeat(1, 1fr);
    }
}