.order_list {
  height: 130px;
  width: 100%;
  align-items: center;
}

.product_img_details {
  width: 50%;
}

.product_img_details img {
  width: 90px;
  height: 100%;
}

.order_date {
  font-size: 10px;
}

.order_details {
  width: 30%;
}

.price_quantity_size {
  font-size: 15px;
}

.cancle_Button {
  width: 20%;
}

.order_cancle_btn:hover {
  background: red;
  color: black !important;
}

.green_dot {
  height: 10px;
  width: 10px;
  background: rgb(0, 255, 0);
}

@media (max-width: 910px) {
  .order_list {
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .item_name {
    font-size: 15px;
  }
  .price_quantity_size {
    margin-top: -10px;
  }
  .order_date {
    margin-top: -10px;
  }
  .product_img_details {
    width: 60%;
  }
  .order_details {
    width: 30%;
  }
  .order_details p {
    font-size: 10px;
  }
  .cancle_Button {
    width: 10%;
  }
}

@media (max-width: 620px) {
  .order_list {
    flex-direction: column;
    align-items: normal;
  }
  .product_img_details {
    width: 100%;
  }
  .order_details {
    width: 100%;
    justify-content: center;
  }
  .order_details p {
    font-size: 15px;
  }
  .cancle_Button {
    width: 100%;
  }
}
