.hero{
    height: 500px;
    overflow: hidden;
}

.carousel-item img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.hero_text_line{
    width: 40px;
    height: 2px;
    margin-top: 12px;
}