.contact_details img {
  width: 450px;
}

.contact_location p:nth-of-type(2) {
  margin-top: -15px;
}

.contact_em_no p:nth-of-type(2) {
  margin-top: -15px;
}

@media (max-width: 830px) {
  .contact_details {
    flex-direction: column;
  }
}

@media (max-width: 470px) {
  .contact_details img {
    width: 300px;
  }
}
