.login_div {
  width: 50%;
}

.login_form input {
  width: 100%;
  height: 50px;
  font-weight: 700;
  outline: none;
}

.link_div {
  font-size: 15px;
  width: 100%;
}

@media (max-width: 840px) {
  .login_div {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .login_div {
    width: 100%;
  }
}
