* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white !important;
  color: black !important;
}

a {
  color: black !important;
  text-decoration: none !important;
}

.main_div {
  padding: 0 6%;
}

@media (max-width: 700px) {
  .cart_amount {
    width: 100% !important;
  }
}
